*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color:rgb(35, 33, 33);
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #2aed2e 0%, #158c74 100%);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}


.button {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgb(161, 255, 20);
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
  }
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(19, 19, 19);
  }
  
  .button:hover {
    background-color: rgb(192, 255, 20);
    transition-duration: .5s;
  }
  
  .button:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
.button:active .svgIcon {
    transform: rotate(0deg);
    transition-duration: 1.5s;
}  

    

.weather h1{
    font-size: 50px;
    font-weight: 500;
}

.weather h2{
    font-size: 35px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    padding: 0 20px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 50px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}

.error{
    text-align: center;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
    display: none;
}